@font-face {
	font-family: gotham;
	src: url(./gothambook.otf);
}
@font-face {
	font-family: gothambold;
	src: url(./gothamblack.otf);
}
@font-face {
	font-family: arcade;
	src: url(./arcade.ttf);
}
body {
	background: #161616;
	background-image: url('https://fur.dev/dotlogoutbg.png');
	background-size: 5px 5px;
	background-position: center;
	background-repeat: repeat;
	scroll-behavior: smooth;
	font-family: gotham;
	/*color: #ffffff;*/
	color: #bedefa;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}

.screenoverlay {
	position: sticky;
	width: 100vh;
	height: 100vh;
	pointer-events: none;
}
.shadowoverlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: inset 0 0px 100px #000000;
	z-index: 0;
	pointer-events: none;
}
.bar {
	position: sticky;
	display: inline-block;
	text-align: center;
	width: 75vmin;
	height: 100%;
	backdrop-filter: blur(10px);
	background-color: #e2e2e215;
	top: 0.65%;
	left: 0px;
	bottom: 0px;
	right: 0px;

	left: 50%;
	transform: translate(-50%);

	border-radius: 0.15rem;
	border: #2b2b2b 0.1rem solid;
	box-shadow: 0px 0px 50px 1px #2b2b2b;
	z-index: 1;
}
.cornerboilerplate {
	position: fixed;
	padding-left: 0.65%;
	padding-top: 0.65%;
	filter: drop-shadow(0px 0px 55px #ffffff);
}
.left {
	top: 0px !important;
	left: 0px !important;
}
.right {
	right: 0.65%;
	transform: rotate(90deg);
	top: 0px !important;
	right: 0px !important;
}
.bottomleft {
	transform: rotate(270deg);
	left: 0px !important;
	bottom: 0px !important;
}
.bottomright {
	transform: rotate(180deg);
	right: 0px !important;
	bottom: 0px !important;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.blockarea {
	display: flex;
	flex-wrap: wrap;
}

a {
	color: white;
	cursor: pointer;
}
a:hover {
	color: #ffffffa6;
}
b {
	font-family: gothambold;
}

.cardold {
	width: 500px;
	aspect-ratio: 3 / 2;
	margin: 0.85rem;
	border-radius: 0.45rem;
	border: #2b2b2b 0.1rem solid;
	box-shadow: 0px 0px 50px 1px #2b2b2b;
	overflow: hidden;
	background-color: #2b2b2ba6;
}
.blogcard {
	width: 350px;
	aspect-ratio: 3 / 4;
	margin: 0.85rem;
	border-radius: 0.45rem;
	border: #2b2b2b 0.1rem solid;
	box-shadow: 0px 0px 50px 1px #2b2b2b;
	overflow: hidden;
	background-color: #2b2b2ba6;
}
.blogcardtop {
	width: 350px;
	margin: 0.85rem;
	border: #2b2b2b 0.1rem solid;
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	overflow: hidden;
	background-color: #2b2b2ba6;
}
.blogcardtop > p {
	position: relative;
	margin-left: 10px;
	margin-top: 8px;
	margin-bottom: 10px;
}

.cardold > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	-webkit-filter: url(#noise);
	filter: url("#noise") brightness(1.25) saturate(1.15);
	overflow: hidden;
	transition: all 0.2s ease-in-out;
}
.cardold > img:hover {
	-webkit-filter: url(#noise);
	filter: url("#noise") brightness(1) saturate(1);
	overflow: hidden;
}
.cardold > p {
	position: absolute;
	margin-top: -25px;
	margin-bottom: 0px;
}

.gradtext {
	background: linear-gradient(90deg, #e8c8e8, #bedefa);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	text-shadow: 0 0px 45px #d2d5f2;
}
.basetext {
	font-size: large;
}
.badge {
	background-color: #e2e2e215;
	border: #2b2b2b 0.1rem solid;
	box-shadow: 0px 0px 50px 1px #2b2b2b;
	padding: 0.15rem;
	margin: 0.15rem;
	padding-left: 7px;
	padding-right: 7px;
	padding-bottom: 1px;
	padding-top: 1px;
	margin-bottom: 0px;
	margin-top: 0px;
	font-family: arcade;
	overflow: hidden;
	
	transition: all 0.2s ease-in-out;
}
.badge:hover {
	background-color: #202020;
	border: #202020 0.1rem solid;
	border-left: #202020 0.35rem solid;
	border-right: #202020 0.35rem solid;
	box-shadow: 0px 0px 25px 35px #202020;
}
.shiny {
	position: relative;
	border: none;
	overflow: hidden;
}
.shiny:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 10%;
	height: 100%;
	opacity: 0;
	background-color: rgba(255, 255, 255, 0.45);
	transform: translateX(-100%) skewX(-35deg);
	animation: shiny-swipe 2.5s infinite cubic-bezier(0.04, 0.45, 0.98, 0.51);
}
@keyframes shiny-swipe {
	0% {
		opacity: 0;
		width: 10%;
		transform: translateX(-325%) skewX(-35deg);
	}
	50% {
		opacity: 1;
		width: 45%;
		transform: translateX(500%) skewX(-35deg);
	}
	100% {
		opacity: 0;
		width: 10%;
		transform: translateX(1325%) skewX(-35deg);
	}
}
.loadingshiny {
	position: relative;
	border: none;
	overflow: hidden;
}
.loadingshiny:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 10%;
	height: 100%;
	opacity: 0;
	/*background-color: rgba(255, 255, 255, 0.45);*/
	/*background: linear-gradient(90deg, #e8c8e8, #bedefa);*/
	background: linear-gradient(90deg, transparent, #ffffff);
	transform: translateX(-100%);
	animation: loadingshiny-swipe 1.75s infinite cubic-bezier(0.04, 0.45, 0.98, 0.51);
}
@keyframes loadingshiny-swipe {
	0% {
		opacity: 0;
		width: 10%;
		transform: translateX(-225%);
	}
	50% {
		opacity: 0.75;
		width: 200%;
		transform: translateX(350%);
	}
	100% {
		opacity: 0;
		width: 10%;
		transform: translateX(500%);
	}
}

.btn {
	display: flex;
	align-items: center;
	
	background-color: #bedefa;
	color: rgb(0, 0, 0);
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.3s ease;
}
.btn:hover {
	background-color: #e8c8e8;
}

.badgebtn {
	background-color: #3131319a;
	border: #2b2b2b 0.1rem solid;
	box-shadow: 0px 0px 50px 0px #2b2b2b;
	padding: 0.35rem;
	margin: 0.15rem;
	padding-left: 7px;
	padding-right: 7px;
	margin-bottom: 0px;
	margin-top: 0px;
	font-family: "Lucida Console", monospace;
	overflow: hidden;
	color: white;
	
	transition: all 0.2s ease-in-out;
}
.badgebtn:hover {
	background-color: #303030;
	border: #303030 0.1rem solid;
	border-left: #303030 0.55rem solid;
	border-right: #303030 0.55rem solid;
	box-shadow: 0px 0px 25px 8.5px #303030;
}
.warning {
	background-color: #ff5c5c9a;
	border: #ff5c5c 0.1rem solid;
	/*box-shadow: 0px 0px 50px 0px #ff5c5c9a;*/
	box-shadow: 0px 0px 0px 0px #ff5c5c9a;
	padding: 0.35rem;
	margin: 0.15rem;
	padding-left: 7px;
	padding-right: 7px;
	margin-bottom: 0px;
	margin-top: 0px;
	font-family: "Lucida Console", monospace;
	overflow: hidden;
	color: white;
	
	transition: all 0.2s ease-in-out;
}
.warning:hover {
	background-color: #ff5c5c;
	border: #ff5c5c 0.1rem solid;
	border-left: #ff5c5c 0.55rem solid;
	border-right: #ff5c5c 0.55rem solid;
	box-shadow: 0px 0px 25px 8.5px #ff49499a;
}

.card {
	background-color: #e2e2e215;
	border: #272a2c 0.1rem solid;

	padding: 0.35rem;
	margin: 0.15rem;
	padding-left: 7px;
	padding-right: 7px;
	font-family: "Lucida Console", monospace;
	width: auto;
	height: auto;
	overflow: hidden;
	/*display: inline flow-root list-item;*/
	display: -webkit-inline-box;
	transition: all 1.2s ease-in-out;
}
.music {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.desc {
	font-size: larger;
}
.coverart {
	width: 6rem;
	height: 6rem;
	margin-top: 7px;
}


h1 {
	font-size: 3.55rem !important;
}
.mainheader {
	margin-top: 45px;
	margin-left: 45px;
}
.icon {
	width: 1.25rem !important;
	margin-bottom: -3.5px;
	margin-right: 5px;
}
.cardtext {
	font-family: gotham;
}
